<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bzsys.study.mapper.login.LoginMapper">

  <select id="chkLoginUser" resultType="java.lang.Integer">
    /*LoginMapper.selectLoginUser*/
    SELECT COUNT(*) AS CNT
    FROM USERS
    WHERE ID = #{userId}
      AND PASSWORD = #{password}
  </select>

  <select id="selectLoginUser" resultType="kr.co.bzsys.study.dto.login.LoginDto">
    SELECT
        ID AS USER_ID,
        NAME
    FROM USERS
    WHERE
        ID = #{userId}
  </select>

</mapper>