<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form action="/insertJoin" method="post">
  <table border="1">
    <tbody>
    <tr>
      <td>회원아이디</td>
      <td>
        <input type="text"  name="userId" id="userId">
      </td>
    </tr>
    <tr>
      <td>회원비밀번호</td>
      <td>
        <input type="text"  name="password" id="password">
      </td>
    </tr>
    <tr>
      <td>회원이름</td>
      <td>
        <input type="text"  name="userName" id="userName">
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="2">
        <button type="submit">회원가입</button>
      </td>
    </tr>
    </tfoot>
  </table>
</form>
</body>
</html>